<div class="container-fluid js-section">
  <div class="row">
    <div class="col">
      <a href="#" title="return to top">
        <mat-icon aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon>
      </a>
      <h5 class="w-100"><span class="section-title-bg me-2"></span>
        Who Am I ?
      </h5>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <p>I always had an interest in IT and in high school I was always busy building simple static websites. At that
        time I was mainly concerned with its design.</p>
      <p>After secondary school this almost completely disappeared because I
        decided to become a soldier. Around 2020, this interest returned and I first started looking for information
        online and soon started distance learning applied computer science.
      </p>
      <p>1 year later I got the opportunity to be
        trained as a full-stack developer through Switchfully and I have been programming ever since. I love coding and
        constantly learning new things.
      </p>

    </div>
  </div>
</div>
