<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>Who Am I ?</h5>
    </div>
    <div class="col"><img src="https://placehold.co/200x50/orange/white?text=Hieronymous" alt="js"/></div>
  </div>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae consequatur corporis culpa dicta
        dignissimos distinctio, earum eveniet excepturi labore mollitia nemo nulla odio omnis pariatur porro sapiente
        veritatis voluptates.
      </p>
      <p>Adipisci amet atque blanditiis, cumque cupiditate debitis distinctio dolorem eius error et eveniet
        exercitationem explicabo fugiat id nobis non officia perferendis perspiciatis reprehenderit, sint unde vel
        veniam veritatis vitae voluptatibus.
      </p>
    </div>
  </div>
</div>
