<div class="container-fluid splash-container">
  <div class="row h-100 w-100 d-flex justify-content-center m-0 p-0">
    <div class="col splash-main-col">
      <img ngSrc="/img/5.png" class="mx-auto d-block rounded-circle" width="200" height="200" alt="...">

      <div class="welcome">

        <p>Hello world! I'm <span class="full-name">Jeroen Smissaert</span>,</p>
        <p>a <span class="pop-word">full-stack developer</span> who also likes to <span class="pop-word">design</span>
          and <span class="pop-word">draw</span>.</p>
      </div>
      <div class="view-more">
        <a href="#js-nav" role="button" class="btn btn-sm" title="view more"
           type="button">
          <mat-icon aria-hidden="false" aria-label="stat_minus_2" fontIcon="keyboard_arrow_down"></mat-icon>
        </a>
      </div>
    </div>
  </div>

</div>
