<div class="dropdown dropdown-plus">
  <button class="btn btn-sm" title="menu"
          type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <mat-icon aria-hidden="false" aria-label="menu" fontIcon="menu"></mat-icon>
  </button>
  <ul class="dropdown-menu dropdown-menu-plus">
    <li>
      <a class="menu-link" href="#js-whoami">
        <mat-icon aria-hidden="false" aria-label="up" fontIcon="arrow_right">
        </mat-icon>
        Who Am I ?</a>
    </li>
    <li>
      <a class="menu-link" href="#js-cv">
        <mat-icon aria-hidden="false" aria-label="up" fontIcon="arrow_right">
        </mat-icon>
        Curriculum Vitae - Min</a>
    </li>
    <li>
<!--      <a class="menu-link" href="#js-contact">-->
<!--        <mat-icon aria-hidden="false" aria-label="up" fontIcon="arrow_right"></mat-icon>-->
<!--        Contact-->
<!--      </a>-->
    </li>
  </ul>
</div>
