<div class="container-fluid js-section">
  <div class="row">
    <div class="col">
      <a href="#" title="return to top">
        <mat-icon aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon>
      </a>
      <h5 class="w-100"><span class="section-title-bg me-2"></span>Contact</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae consequatur corporis culpa dicta
        dignissimos distinctio, earum eveniet excepturi labore mollitia nemo nulla odio omnis pariatur porro sapiente
        veritatis voluptates.
      </p>
    </div>
  </div>
</div>
