<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>Curriculum Vitae - Min</h5>
    </div>
    <div class="col"><img src="https://placehold.co/150x50/orange/white?text=Hieronymous" alt="js"/></div>
  </div>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque labore obcaecati possimus quibusdam sequi
        tempora vitae. Aut, beatae, excepturi. Ad culpa expedita laboriosam libero molestias soluta ullam veniam
        voluptas voluptatum?</p>
      <p>Blanditiis, esse eum harum hic itaque maiores nulla praesentium veniam. Nobis, velit vitae. Adipisci assumenda
        at corporis, delectus, dolorum enim excepturi ipsum laborum minima quam quidem repellendus sapiente ullam
        vitae!</p>
      <p>Aliquid amet aperiam at consequatur debitis dicta dolorum ducimus eaque earum enim eos fuga harum illo iure
        libero molestiae obcaecati officiis omnis quasi, sapiente, sequi tempora tenetur ullam vitae voluptas?</p>
      <p>Ab amet aut beatae consectetur cupiditate deleniti et hic id iste molestias neque, nobis obcaecati, officiis
        perferendis quam quas ratione, repellat reprehenderit rerum temporibus tenetur totam ullam voluptatum! Suscipit,
        ut?</p>
      <p>Alias dicta eaque earum eum ipsam itaque, maxime nihil quam quod voluptatibus? Accusamus blanditiis corporis
        dicta doloremque, et exercitationem libero nobis, odit pariatur possimus quam reprehenderit sapiente ut velit
        veniam?</p>
    </div>
  </div>
</div>
