<div class="container-fluid js-section">
  <div class="row">
    <div class="col">
      <a href="#" title="return to top">
        <mat-icon aria-hidden="false" aria-label="up" fontIcon="arrow_drop_up"></mat-icon>
      </a>
      <h5 class="w-100"><span class="section-title-bg me-2"></span>Curriculum Vitae - Min</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Languages</h6>
      <ul>
        <li>
          <p>HTML</p>
        </li>
        <li>
          <p>CSS - SCSS</p>
        </li>
        <li>
          <p>Javascript - Typescript</p>
        </li>
        <li>
          <p>Java</p>
        </li>
        <li>
          <p>SQL - No-SQL</p>
        </li>
        <li>
          <p>JSON - YAML</p>
        </li>
        <li>
          <p>XML - XSL</p>
        </li>
        <li>
          <p>Git</p>
        </li>
      </ul>
      <div>
        <h6>Other tools</h6>
        <ul>
          <li>
            <p>Adobe Photoshop</p>
          </li>
          <li>
            <p>Adobe Illustrator</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <h6>Dev tools</h6>
      <ul>
        <li>
          <p>IntelliJ IDEA</p>
        </li>
        <li>
          <p>Visual Studio Code</p>
        </li>
        <li>
          <p>Postman</p>
        </li>
        <li>
          <p>SQL Developer</p>
        </li>
        <li>
          <p>DBeaver</p>
        </li>
        <li>
          <p>Maven</p>
        </li>
        <li>
          <p>NPM</p>
        </li>
        <li>
          <p>Angular</p>
        </li>
        <li>
          <p>Springboot / Spring</p>
        </li>
        <li>
          <p>Angular Materials</p>
        </li>
        <li>
          <p>Bootstrap | ngBootstrap</p>
        </li>
        <li>
          <p>Prime Ng</p>
        </li>
        <li>
          <p>Materialize CSS</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>Work(ed) &#64;</h6>
      <ul>
        <li>Egov Select
          <ul>
            <li>
              FPS JUSTICE (Belgian gov)
              <span class="small"> | Frontend developer</span>
            </li>
            <li>FPS ECONOMY (Belgian gov)
              <span class="small"> | Full-stack developer (but mostly frontend)</span></li>
          </ul>
        </li>
        <li>
          Defence (Belgian gov)
          <ul>
            <li>DG MR - MGT-G - Business Intelligence
              <span class="small"> | Full-stack developer (focus on database querying)</span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
