<ng-container>
  <div class="container-fluid container-plus">
    <div id="js-header" class="row m-0 p-0">
      <div class="col m-0 p-0">
        <js-splash></js-splash>
      </div>
    </div>

    <div id="js-nav" class="row">
      <div class="col d-flex justify-content-center nav-menu">
        <app-nav-menu></app-nav-menu>
      </div>
    </div>

    <div id="js-whoami" class="row">
      <div class="col  p-2">
        <js-who-am-i></js-who-am-i>
      </div>
    </div>
    <div id="js-cv" class="row">
      <div class="col  p-2">
        <js-curriculum></js-curriculum>
      </div>
    </div>

<!--    <div id="js-contact" class="row">-->
<!--      <div class="col p-2">-->
<!--        <js-contact></js-contact>-->
<!--      </div>-->
<!--    </div>-->
  </div>

</ng-container>
