@import "bootstrap/scss/bootstrap.scss";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


body {
  font-family: Segoe UI, sans-serif;
  font-size: 0.8rem;
}

.container-plus {
  //border: 1px red solid;
  margin: 0;
  padding: 0;
}

.nav-menu{
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

.dropdown-menu-plus {
  padding: 20px
}

.menu-link {
  color: $light;
  text-decoration: none;
}

//SPLASH
.full-name {
  color: orange;
  font-size: larger;
  //font-weight: bold;
}

.pop-word {
  color: darkorange;
  font-style: italic;
}

.splash-container {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: $dark-bg-subtle-dark;


  .splash-main-col {
    margin: 2px;
    padding: 2px;
    height: 100%;
    width: 100%;
    align-content: center;
  }

  .welcome {
    margin: 0;
    padding: 2vi;
    //border: 1px solid orange;
    text-align: right;
    //text-align: center;

    //background-color: mix($gray-900, $black);
    //background-color: $dark-bg-subtle-dark;

  }

  .view-more {
    width: 100%;
    max-height: max-content;
    padding: 0;
    margin: 5px 0 0 5px;
    text-align: center;
  }
}
.js-section{
  border: 1px solid mix(white, black,60%);
  border-radius: 0.5vi;

  .section-title-bg {
    margin: 0;
    padding-left: 10px;
    width: 100%;
    height: fit-content;
    background-color: mix(darkorange, black,90%);
  }
}

.row{
  margin:0;
  padding:0;
}
.col {
  margin:0;
  padding:0;
}

@media only screen
and (min-device-width : 768px) {
  .container-plus{
    width: 80vw;
    margin: auto;
  }
  .js-section{
    border: none;
  }
}
